
html,body{
	height: 100%;
}

body {
    background: #f2f2f2;
}

header{
	position: relative;
	min-height: 400px;
	text-align: center;
	padding: 138px 0 0;
	background: #222;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-image: url(../media/images/Unit_1/header.jpg);
}

header > h2{
	font-size: 64px;
	font-weight: 600;
	color: #fff;
}

section{
	text-align: center;
}

section > h3:nth-child(odd){
	background-color: #f4f4f4;
}

section > h3:nth-child(even){
	background-color: #ffffff;
}

footer{
	background: #111;
	font-size: 13px;
	text-align: center;
	color: #555;
	padding-top: 14px;
	padding-bottom: 20px;
	border-top: 1px solid #303030;
}